{% extends "base.html" %} {% block content %}
<h2>{{ title }}</h2>
<form method="POST" action="{{ url_for('web_auth_bp.login') }}">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
  </div>
  <button type="submit">Login</button>
</form>
<p>
  Don't have an account?
  <a href="{{ url_for('web_auth_bp.register') }}">Register here</a>.
</p>
{% endblock %}
